<!-- Header -->
<header class="box-shadow-sm">
    @* <H00Topbar /> *@

    <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
    <div class="navbar-sticky bg-light">
        @* <div class="navbar-sticky bg-dark"> *@
        <H01Bar />
        <H02Navbar />
    </div>
</header>