@implements IDisposable
@inject NavigationManager NavigationManager

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

            <AuthorizeView>
                <Authorized>
                    <a class="navbar-brand" href="#"><i class="bi bi-list"></i></a>
                </Authorized>
            </AuthorizeView>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Shop</a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <form class="d-flex">
                        <input class="form-control me-sm-2" type="search" placeholder="Search">
                        <button class="btn btn-secondary" type="submit">Search</button>
                    </form>
                </li>

                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Hi @context.User.Identity?.Name
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="Account/Manage">My Account</a></li>
                                <li><a class="dropdown-item" href="#">Orders</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <div class="dropdown-item d-flex justify-content-end">
                                    <form action="Account/Logout" method="post" class="m-0">
                                        <AntiforgeryToken />
                                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                                        <button type="submit" class="nav-link p-0 border-0">
                                            <span class="bi bi-arrow-bar-left" aria-hidden="true"></span> Logout
                                        </button>
                                    </form>
                                </div>
                            </ul>
                        </li>
                    </Authorized>

                    <NotAuthorized>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="Account/Login">Login</a>
                            </li>
                        </ul>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</nav>

@code {

    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}