<div class="container">
    <div class="row">

        <div class="col logo-container">
            @* <img src="favicon/favicon.ico" class="img-fluid" alt="BoltaShop"> *@
            <h1>BoltaShop</h1>
        </div>

        <div class="col">
            @* One of three columns *@
        </div>

        <div class="col text-end">
            <button class="btn btn-dark btn-sm" id="btnSwitch"><i class="bi bi-lightbulb-off-fill"></i></button>
        </div>

    </div>
</div>




@code {
    
}