@inject NavigationManager NavigationManager

<div class="container">
    <div class="row">

        <div class="col logo-container">
            <img src="favicon/favicon.ico" class="img-fluid" alt="BoltaShop">
            <h1>BoltaShop</h1>
        </div>

        <div class="col">
            @* One of three columns *@
        </div>

        <div class="col text-end">
            Cart
        </div>

    </div>
</div>