<!-- Hero Old -->
<section class="hero-section">
    <div class="hero-items owl-carousel">
        <div class="single-hero-items set-bg" data-setbg="img/hero/01-rudina.jpg">
            <div class="container">
                <div class="row">
                    <div class="Align-Center">
                        <span>Subtitle</span>
                        <h2 style="color: white">Tomislav Wittenberg</h2>
                        <h1 style="color: white">Rudina</h1>

                        <p style="color: white">Description</p>
                        <a href="#" class="primary-btn">Shop Now</a>
                    </div>
                </div>
                <div class="off-card"><h2><b>EventName</b><span>EventText</span></h2></div>

            </div>
        </div>
    </div>
</section>