<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <title>BoltaShop</title>
    <link rel="icon" href="/logo/logo-Bolta-icon.png">

    <!-- SEO Meta Tags-->
    <meta name="description" content="BoltaShop - E-commerce">
    <meta name="keywords" content="bolta, shop, e-commerce, market, modern, responsive,  business, mobile, book, books">
    <meta name="author" content="Bolta">

    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @* <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff"> *@
    

    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="css/vendor.min.css">

    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" id="main-styles" href="css/theme.min.css">

    <link rel="stylesheet" href="No1B.styles.css" />
    <HeadOutlet />
</head>

<body>
    <Routes />

    <!-- JavaScript libraries, plugins and custom scripts-->
    <script src="js/vendor.min.js"></script>
    <script src="js/theme.min.js"></script>
    
    <!-- Blazor JS -->
    <script src="_framework/blazor.web.js"></script>
</body>

</html>