<!-- Delete Modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                    <li class="nav-item"><a class="nav-link active" href="#signin-tab" data-toggle="tab" role="tab" aria-selected="true">
                        <i class="czi-trash mr-2 mt-n1"></i>Confirm Delete
                    </a></li>
                </ul>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body tab-content py-4">
                <h1>Are you shure?</h1>
                <div class="text-right">
                    <button class="btn btn-secondary btn-shadow" data-dismiss="modal" type="submit">No</button>
                    <button class="btn btn-primary btn-shadow" data-dismiss="modal" type="submit">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {



    

}