@page "/"

<PageTitle>Home</PageTitle>

<div class="h-100 d-flex flex-column justify-content-center align-items-center">
    
    <div class="mt-5">
        <h1>No.1 Blazor</h1>
    </div>

    <span class="badge text-bg-info">...app in on and Running!</span>

    <button class="mt-5 btn btn-primary">...app in on and Running!</button>


    <div class="mt-5 card text-bg-primary" style="max-width: 30rem;">
        <div class="card-header">No.1 Blazor</div>
        <div class="card-body">
            <p class="card-text">...app in on and Running!</p>
        </div>
    </div>

</div>