@page "/"

<PageTitle>BoltaShop</PageTitle>


@* <HeroSlider /> *@
<TrendingProducts />
@* <PromoBanner />
<BrandsCarousel />
<ProductWidgets />
<YouTubeFeed />
<BlogInstagramInfoCards /> *@
<ToastAddedToCart />


@* <div class="h-100 d-flex flex-column justify-content-center align-items-center">

    <div class="mt-5">
        <h1>BoltaShop</h1>
    </div>

    <span class="badge text-bg-info">...app is on and Running!</span>

</div> *@