@page "/role"
@inject IRoleRepository RoleRepository
@* @rendermode InteractiveServer *@

<PageTitle>Role</PageTitle>

<h1>Role</h1>

<table class="mt-5 table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @if ((Roles?.HttpStatusCode == HttpStatusCode.OK) && Roles.Data != null)
        {
            @foreach (var item in Roles.Data)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td class="text-center" colspan="3">Loading...</td>
            </tr>
        }
    </tbody>
</table>


@code {
    private Response<List<RoleOutput>>? Roles;

    protected override async Task OnInitializedAsync()
    {
        Roles = await RoleRepository.GetAllAsync();
    }
}